<div class="window" *ngIf="isVisible"
  [ngClass]="{'minimized': isMinimized, 'prompt-window': windowType === 'prompt', 'fullscreen': isFullscreen}"
  [ngStyle]="{'top.px': position.y, 'left.px': position.x, 'width.px': size.width, 'height.px': size.height, 'z-index': zIndex}"
  (mousedown)="onWindowClick()">

  <div class="title-bar" (mousedown)="onDragStart($event)" [ngClass]="{'prompt-title-bar': windowType === 'prompt'}">
    <div class="title-bar-text">
      <img [src]="icon" alt="Icon" class="title-icon">
      {{ title }}
    </div>
    <div class="title-bar-controls">
      <button class="minimize-btn" [attr.aria-label]="'common.minimize' | translate" (click)="onMinimize()"></button>
      <button class="maximize-btn" [attr.aria-label]="'common.maximize' | translate"
        (click)="toggleFullscreen()"></button>
      <button class="close-btn" [attr.aria-label]="'common.close' | translate" (click)="onClose()"></button>
    </div>
  </div>

  <!-- Barra di menu -->
  <div class="menu-bar" *ngIf="windowType !== 'prompt'">
    <div class="menu-item">{{ 'menu.file' | translate }}</div>
    <div class="menu-item">{{ 'menu.edit' | translate }}</div>
    <div class="menu-item">{{ 'menu.view' | translate }}</div>
    <div class="menu-item">{{ 'menu.favorites' | translate }}</div>
    <div class="menu-item">{{ 'menu.tools' | translate }}</div>
    <div class="menu-item">{{ 'menu.help' | translate }}</div>
  </div>

  <!-- Toolbar Section -->
  <div class="navigation-bar" *ngIf="windowType !== 'prompt'">
    <div class="toolbar-group">
      <button class="nav-button main" [attr.aria-label]="'common.back' | translate" disabled>
        <img src="assets/icons/back.png" [alt]="'common.back' | translate" class="nav-icon large">
        <span class="nav-text">{{ 'common.back' | translate }}</span>
      </button>
      <button class="nav-button" [attr.aria-label]="'common.forward' | translate" disabled>
        <img src="assets/icons/avanti.png" [alt]="'common.forward' | translate" class="nav-icon">
      </button>
    </div>
    <div class="nav-separator"></div>
    <button class="nav-button main">
      <img src="assets/icons/folder.png" alt="Up" class="nav-icon">
    </button>
    <div class="nav-separator"></div>
    <div class="toolbar-group">
      <button class="nav-button main">
        <img src="assets/icons/cerca.png" alt="Search" class="nav-icon">
        <span class="nav-text">{{ 'common.search' | translate }}</span>
      </button>
      <button class="nav-button main">
        <img src="assets/icons/folder.png" alt="Folders" class="nav-icon">
        <span class="nav-text">{{ 'common.folders' | translate }}</span>
      </button>
    </div>
    <div class="nav-separator"></div>
    <button class="nav-button main">
      <img src="assets/icons/computer.png" alt="View" class="nav-icon">
    </button>
  </div>

  <!-- Address Bar -->
  <div class="address-bar-container" *ngIf="windowType !== 'cv' && windowType !== 'prompt'">
    <div class="address-label">{{ 'common.address' | translate }}</div>
    <div class="address-input-wrapper">
      <img src="assets/icons/folder.png" alt="Folder" class="address-icon">
      <div class="address-text">{{ folderPath.join('\\') }}</div>
      <div class="address-dropdown"></div>
    </div>
    <button class="go-button">
      <img src="assets/icons/avanti.png" alt="Go">
      <span>{{ 'common.go' | translate }}</span>
    </button>
  </div>
  <div class="window-body">
    <ng-container *ngIf="windowType === 'cv'">
      <ng-container *ngIf="pdfSrc; else noPdf">
        <iframe [src]="pdfSrc | safe" width="100%" height="100%" frameborder="0"></iframe>
      </ng-container>
      <ng-template #noPdf>
        <p>{{ 'common.error' | translate }}: {{ pdfSrc }}</p>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="windowType === 'readme'">
      <div class="readme-content">
        <h1>{{ 'readme.title' | translate }}</h1>

        <p><strong>{{ 'readme.noteLabel' | translate }}:</strong> {{ 'readme.warning' | translate }}</p>

        <p>{{ 'readme.intro' | translate }}</p>

        <!-- Aggiungi il link per aprire la finestra del CV -->
        <p style="text-align: center; padding-top: 10px;">
          <a href="#" (click)="openCvWindow($event)" style="font-size: 18px; color: blue; text-decoration: underline;">
            {{ 'readme.cvLink' | translate }}
          </a>
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="windowType === 'prompt'">
      <div class="prompt-content">
        <pre class="ascii-art">
  ______ _             _
 / _____|_)           | |
| /  ___ _  ____ ____ | |_   _  ____ ____
| | (___) |/ _  |  _ \| | | | |/ ___) _  |
| \____/| ( ( | | | | | | |_| ( (__( ( | |
 \_____/|_|\_||_|_| |_|_|\____|\_(____)_||_|

 {{ 'prompt.help' | translate }}

</pre>
        <div *ngFor="let line of output" class="prompt-output">
          {{ line }}
        </div>
        <div class="prompt-input" style="margin-top: 10px;">
          <span>C:\></span>
          <input [(ngModel)]="currentInput" (keydown.enter)="onEnter()" autofocus>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="windowType === 'computer'">
      <div class="icon" (click)="selectIcon($event)">
        <img src="assets/icons/disco.png" [alt]="'diskInfo.localDisk' | translate">
        <span>{{ 'diskInfo.localDisk' | translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="windowType === 'recycle-bin'">
      <div class="recycle-bin-icons">
        <div class="icon" (click)="selectIcon($event)">
          <img src="assets/icons/sperlonga.png" alt="Foto">
          <span>sperlonga.png</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="windowType === 'documenti'">
      <!-- <app-documenti></app-documenti> -->
    </ng-container>
    <ng-container *ngIf="windowType === 'paint'">
      <app-paint></app-paint>
    </ng-container>
    <ng-container *ngIf="windowType === 'notepad'">
      <div class="notepad-content">
        <textarea [(ngModel)]="notepadText" class="notepad-textarea"></textarea>
        <div class="notepad-footer" *ngIf="notepadText.includes('CV_LINK')">
          <button (click)="openCvWindow($event)" class="notepad-link-btn">
            [ CLICCA QUI PER APRIRE IL CV ]
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="windowType !== 'cv' && windowType !== 'readme' && windowType !== 'prompt' && windowType !== 'computer' && windowType !== 'recycle-bin' && windowType !== 'documenti' && windowType !== 'paint'">
      <ng-content></ng-content>
    </ng-container>
  </div>
  <!-- <div class="output">
    <div *ngFor="let line of output">{{ line }}</div>
  </div> -->
  <div class="resize-handle top" (mousedown)="onResizeStart($event, 'top')"></div>
  <div class="resize-handle right" (mousedown)="onResizeStart($event, 'right')"></div>
  <div class="resize-handle bottom" (mousedown)="onResizeStart($event, 'bottom')"></div>
  <div class="resize-handle left" (mousedown)="onResizeStart($event, 'left')"></div>
  <div class="resize-handle top-left" (mousedown)="onResizeStart($event, 'top left')"></div>
  <div class="resize-handle top-right" (mousedown)="onResizeStart($event, 'top right')"></div>
  <div class="resize-handle bottom-left" (mousedown)="onResizeStart($event, 'bottom left')"></div>
  <div class="resize-handle bottom-right" (mousedown)="onResizeStart($event, 'bottom right')"></div>
</div>

<div *ngIf="showHelp" class="help-commands">
  <ul>
    <li *ngFor="let command of helpCommands">{{ command }}</li>
  </ul>
</div>